*{
    margin:0;
    padding: 0;
}

body{
    font-family:'Montserrat', sans-serif;
        background-color: #BBC9BD;
 }


.container_nachalo{
    background-color: #BBC9BD;
    display: flex;
flex-direction: column;
align-items: center;
 
}

.title {
    background-color: #657E69;
    color: #FFFFFF;
    font-size: 65px;
    text-align: center;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    position: relative;
    width: 90%;
     border: 5px solid #5B715F;
}


.photo{
    margin-left: 30px;
    margin-right: 30px;
display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 84%;
    background-color: #657E69;
    padding: 3%;
    border: 5px solid #5B715F;
} 

.ph1{
     margin-top: 25px;
 padding: 1%;
margin-right: 25px;
margin-bottom: 25px;
}

.ph2{
     margin-top: 25px;
margin-left: 25px;
margin-right: 25px;
margin-bottom: 25px;
padding: 1%;
}

.ph3{
     margin-top: 25px;
margin-left: 25px;
padding: 1%;
margin-bottom: 25px;
}

.photo img:hover{
 position: relative;
    opacity: 1;
    transform: scale(1.1); 
    transition-duration: 0.5s;
}


.text{
    margin-top: 4%;
    display: flex;
  color: #FFFFFF;
 display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 84%;
    border: 5px solid #5B715F;
    background-color: #657E69;
    margin-bottom: 5%;
    padding: 3%;
    font-size: 23px;
    flex-direction: column;
}



.tit{
    font-size: 27px;
    text-align: center;
color: #404F42;
}

